body::-webkit-scrollbar {
  display: none;
}
.nav-text
{
  position: fixed;
  right: 0;
  margin: 20px;
}
.main-div
{
  margin: auto;
  margin-top: 150px;
  font-family: serif;
  font-size: 20px;
  width: fit-content;
}
.input
{
  border-radius: 15px;
}
.logout
{
  font-family: serif;
  font-size: smaller;
  color: darkgrey;
  text-decoration: none;
}
#profile-header
{
  position: sticky;
  top: 0;
  /* z-index: 9999; */
}
.spinner-border
{
  width: 5rem;
  height: 5rem;
  margin-top: 15rem;
  color: grey;
}
.dropdown-toggle::after {
  content: none;
}
#dropdown
{
  text-align: end;
  margin: 50px;
}
#dropdown-list
{
  font-size: 20px;
}
#profile-head
{
  margin-top: 2%;
  position:"sticky"; 
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  margin-bottom: 6%;
}
#profile-name
{
  text-align: left;
  font-family: monospace;
  font-size: 35px;
  padding: 2%;
  color: white;
  text-transform: capitalize;
}
#profile-users
{
  text-transform: capitalize;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}
#msg-form
{
  display: flex;
  bottom: 20px;
  width: -webkit-fill-available;
  position: fixed;
}
#msg-head
{
  width: 100%;
  background-color: rgb(120, 125, 125);
  height: 100%;
  color: white;
  position: sticky;
  top: 0;
}
#msg-h2
{
  font-family: cursive;
  /* font-weight: bold; */
  padding: 3px;
    text-align: center;
    position: inherit;
    font-size: -webkit-xxx-large;
}
#textStyle
{
  color: white;
  min-width: 100px;
  max-width: 300px;
  margin: 5px;
  padding: 5px;
  border-radius: 15px;
}
.msg-footer
{
  border-top: "10px solid black";
  margin-bottom: 70px;
}
.msg-space {
  margin-bottom: 30%;
}
.modal 
{
margin-top: 250px;
}