*
{
  padding: 0%;
  margin: 0%;
}
body
{
  background-color: rgb(171, 77, 54);
}
/* body
{
  background-image: url(https://cdn.pixabay.com/photo/2016/02/23/07/37/wall-1217083__340.jpg);
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  /* background-size: cover;
}  */
.main
{
  width: 400px;
  margin: 40px auto 50px auto;
}
.form
{
  background-color: rgba(95, 148, 161, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px darkcyan;
  color: #fff;
}
h1
{
  text-align: center;
  padding: 5px;
}
label
{
  font-size: 17px;
}
.text
{
  margin: 10px;
  width: 300px;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
  position: relative;
}
.it
{
  width: 350px;
  height: 25px;
  padding: 3px;
}
.no-arrow {
  -moz-appearance: textfield;
}
.no-arrow::-webkit-inner-spin-button {
  display: none;
}
.no-arrow::-webkit-outer-spin-button,
.no-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
button 
{
  width: 300px;
  margin: 6%;
  margin-left: 13%;
  padding: 7px;
  font-size: 16px;
  border-radius: 10px;
  background-color: orange;
  color: #fff;
}
#account
{
  padding: 5%;
}
.err
{
  color: red;
  font-size: 14px;
}