body::-webkit-scrollbar {
  display: none;
}
.main-div
{
  margin: auto;
  margin-top: 150px;
  font-family: serif;
  font-size: 20px;
  width: fit-content;
}
.logout
{
  font-family: serif;
  font-size: smaller;
  color: darkgrey;
  text-decoration: none;
}
#msg-form
{
  display: flex;
  bottom: 20px;
  width: -webkit-fill-available;
  position: fixed;
}
#msg-head
{
  background-color: rgb(120, 125, 125);
  height: 50px;
  color: white;
}
#msg-h2
{
  font-family: cursive;
    margin-top: 3px;
    text-align: center;
    position: inherit;
    font-size: -webkit-xxx-large;
}