*
{
  padding: 0%;
  margin: 0%;
}
/* body
{
  background-color: lightyellow;
} */
body
{
  background-color: lightyellow;
}
.main
{
  width: 400px;
  margin: 50px auto 0px auto;
}
.form
{
  background-color: rgba(95, 148, 161, 0.5);
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 2px 2px 15px darkcyan;
  color: #fff;
}
h1
{
  text-align: center;
  padding: 20px;
  font-family: cursive;
}
label
{
  font-family: sarif;
  font-size: 18px;

}
.text
{
  margin: 10px;
  width: 300px;
  border-radius: 3px;
  outline: 0;
  padding: 7px;
}
.it
{
  width: 100%;
  padding: 5px;
}
button 
{
  width: 200px;
  margin: 10%;
  padding: 7px;
  font-size: 16px;
  font-family: serif;
  font-weight: 600;
  border-radius: 3px;
  background-color: orange;
  color: #fff;

}
